body { margin-left: 5%; margin-right: 5%; margin-top: 5%; margin-bottom: 5%; text-align: justify; }
h1 { text-align: center; }
h2 { text-align: center; }
h3 { text-align: center; }
h4 { text-align: center; }
h5 { text-align: center; }
h6 { text-align: center; }
p { font-size: small; }
img { margin: 5px; }
.CI { text-align: center; margin-top: 0px; margin-bottom: 0px; padding: 0px; }
.center { text-align: center; }
.smcap { font-variant: small-caps; }
.u { text-decoration: underline; }
.bold { font-weight: bold; }
.west { float: left; }
.east { float: right;
}
p.biblebookname {
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	color: #999;
}
span.ch {
	font-size: large;
}
p.sb {
	font-size: .95em;
	text-align: left;
	padding-top: .5em;
}
p.sc {
	font-size: .95em;
	text-align: left;
	padding-top: 0em;
	margin-top: .2em;
	margin-bottom: 0em;
}
p.sn {
	font-size: .95em;
	text-align: left;
	padding-top: .5em;
	margin-top: .2em;
	margin-bottom: 0em;
}
p.ss {
	font-size: .95em;
	text-align: center;
	padding-top: .75em;
	margin-top: .75em;
	margin-bottom: .25em;
}
p.st {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.25em;
	text-transform: uppercase;
	text-align: center;
}
p.sl {
	padding-left: 5em;
	margin-top: -1em;
	text-indent: -5em;
}
p.sz {
	padding-left: 3em;
	margin-top: -1em;
	text-indent: -1.5em;
}
p.sp {
	padding-left: 2em;
	margin-top: -1em;
	text-indent: -1.5em;
}
p.sq {
	font-family: "Arial";
	font-size: 0.79em;
	line-height: 1.11em;
	text-align: left;
	margin: 0em 0em 0.22em 0em;
    color: #1f9c0a;
	display: none;
}
p.sw {
	text-align: center;
	font-size: x-small;
	margin-bottom: 2em;
}
p.ss + p.ss {margin: .5em;
             padding-top: .5em;
			 padding-bottom: .5em;
}
p.sb {margin-top: -.75em;
}
p.question {
	font-family: "Arial";
	font-size: 0.79em;
	line-height: 1.11em;
	text-align: left;
	margin: 0em 0em 0.22em 0em;
    color: #1f9c0a;
}
